* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.content {
    width: 60%;
}

.image {
    background: url('/images/hero-desktop.jpg');
    width: 40%;
}